{% extends 'blog/main.html' %}

{% block title %} Maintenance {% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-slate-800">
    <div class="text-center">
        <div class="flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-20 h-20 text-red-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h1m0-4h-.01M12 19c-3.866 0-7-3.134-7-7s3.134-7 7-7 7 3.134 7 7-3.134 7-7 7zm0 3v-1m-4.593-1.793l.707-.707M15.293 17.293l.707-.707M18 12h1m-1.793-4.593l-.707-.707M7.293 6.707l-.707-.707M12 5V4m-4.593 1.793l.707.707M15.293 6.707l.707.707" />
            </svg>
        </div>
        <h1 class="text-4xl font-bold mt-4 text-gray-800 dark:text-white">We'll be back soon!</h1>
        <p class="mt-2 text-gray-600 dark:text-gray-400">Sorry for the inconvenience but we're performing some maintenance at the moment. We'll be back shortly!</p>
        
        <div class="mt-6">
            <a href="{% url 'articles' %}" class="text-sm text-blue-600 dark:text-blue-400 hover:underline">Return to Articles</a>
        </div>
    </div>
</div>
{% endblock %}
